Package: com.julioverne.goodwifi
Version: 0.0~beta6
Architecture: iphoneos-arm64
Maintainer: Julio
Depends: mobilesubstrate, preferenceloader
Section: Tweaks
Homepage: https://twitter.com/ijulioverne
Description: Better WiFi Preferences
Author: julioverne
Depiction: https://julioverne.github.io/description.html?id=com.julioverne.goodwifi
Icon: file:///var/jb/Library/PreferenceBundles/GoodWiFiSettings.bundle/icon@2x.png
Name: GoodWiFi

